body{
    font-family: "Poppins", sans-serif;
}

.sec-1{
    height: 500px;
}
.search-mech{
    margin-top: 40px;
    font-size: 20px;
}
.button-offer{
    text-decoration: none;
}

.search-input{
    width:500px!important;
}
.back{
    background-image: url("back.png");
    width: 100%;
    min-height: 100vh;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    overflow: hidden;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: rgb(247, 247, 247);
    background-size: cover;
}
.hamburger{
    display: none;
    
}
.hamburger .line{
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    background-color: gray;
    
}
.fJToMw {

    font-family: "Lato", sans-serif;
    font-size: 13px;
    color: rgb(0, 158, 127);
    line-height: 38px;
    font-weight: 700;
    padding: 0px 15px;
    background-color: rgb(247, 247, 247);
    border-radius: 6px;
    margin-left: 5px;
    white-space: nowrap;
}
.extra-menu{
    display: none;
}

@media screen and (max-width:700px){
    .nav-item.dropdown{
        display:none;
    }
    .sec-1{
        height: 300px;
    }

    .back{
        min-height: 300px;
    }
    
    .offer-button b{
        display: none;
    }
    .need-help-button b,.need-help-button svg{
        display:none;
    }
    .join-button{
        display: none;
    }
    #p-1{
        display: none;
    }
    .search-box{
        display: none;
    }
    .h1-tag b{
        font-size: 30px;
    }
    .img3 img{
        display: none;
    }
    .extra-menu{
        width: 60%;
        left: -100%;
        top: 0;
        bottom: 0;
        display: flex;
        transition: 1s;
        position: fixed;
        background-color: white;
        z-index:1100;
        flex-direction: column;
        align-items: center;
        display: block;
    }
    .extra-menu.show{
        left:0;
    }
    .hamburger{
        z-index: 2000;
        display: block;
    }
    
}
    @media screen and (max-width:500px){
        .h1-tag b{
            font-size:20px;
        }
        .sec-1{
            height: 160px;
        }
    
        .back{
            min-height: 160px;
        }
}

.extra-menu-li{
    padding: 20px;
    font-size: 15px;
    list-style: none;
    padding: 20px 0px;
    margin-left: 30px;
}
.extra-menu-li a{
    color: black;
}

.extra-menu-li a:hover{
    text-decoration: none;
}
.offer-button b:hover{
    color: #009e7f;
}
.need-help-button:hover b,.need-help-button:hover svg{
    color: #009e7f;
}

.search-input{
    padding: 19px 0px!important;
}
.price-button>span{
    border-radius: 12px;
    background-color: white;
    color: #009e7f;
}

.backet{
    height: 100px;
    width:100px;
    background-color: #009e7f;
    right: 0;
    position: fixed;
    border-radius: 6px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    z-index: 2500;
}
.item-sum{
    font-size: 15px;
    margin-top: 10px;
    display: flex;
    flex-flow: row;
    text-align: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}
.price-sum{
    margin-top: -10px;
    justify-content: center;
    text-align: center;
    padding: 9px;
}
.price-sums{
    border: 1px solid white;
    border-radius: 6px;
    background-color: white;
    font-size: 15px;
    color: #009e7f;
    font-weight: bold;
}
.body-2 span{
    color:#009e7f;
    background-color: white;
}
.body-2 span:hover{
    color: white;
    background-color:#009e7f ;
    border-radius: 15px;
}
.backet-items{
    display: none;
}
.backet-items{
    width: 30%;
    right: -100%;
    top: 0;
    bottom: 0;
    display: flex;
    transition: 1s;
    position: fixed;
    background-color: white;
    z-index:1100;
    flex-direction: column;
    align-items: center;
    display: block;
}
.backet-items.show{
    right:0;
    z-index: 3000;
}
.svg:hover{
    opacity: 0.6;
}
.body-1{
    width: 50%;
}
.body-2{
    width: 50%;
}
#banana modal-dialog{
    max-width: 1020px!important;
}

.card-img{
    width:80px !important;
    height: 80px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
}

.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.counters-class{
    display: flex;
    flex-flow: column;
    /* justify-content: center; */
    align-items: center;
    height: 90px !important;
}
.product-x{
    align-self:flex-end;
    margin-left: 30px;

}
.products-count{
    background-color: #009e7f !important;
    color: white !important;
}
.product-x svg{
    cursor: pointer;
}

.item-count{
    padding:0px 3px;
}
.card{
    border: none !important;
}
.counters-class{
    border: 1px solid rgb(212, 212, 212);
    border-style: none;
    border-radius: 200px;
    width: 30px;
    background-color: #f7f7f7;
}
.plus-btn{
    font-size: 18px;
    color: rgb(121, 121, 121);
    cursor: pointer;
    background-color: #009e7f !important;
    color: white !important;
    margin-left: 8px;
    
}
.minus-btn{
    font-size: 18px;
    color: rgb(121, 121, 121);
    cursor: pointer;
    margin-right: 8px;
    
}
.card-title{
    font-size: 13px;
    font-weight: bold;
}
.div_center{
    width: 70px;
}
.card_div_3{
    border-top:1px solid rgb(198, 198, 198);
    height: 100px;
}
.card-text{
    font-size:14px;
    color:#009e7f;
    font-weight:bold;
}
.center_div_p2{
    font-size:10px;
     color:rgb(121, 121, 121)
}
.prd-unit{
    color:rgb(121, 121, 121);
    padding-right: 3px;
}
.end_div_div_span{
    font-weight:bold;
     font-size:15px;
      margin-top:5px
}
.sum{
    font-weight:bold;
    font-size:15px;
    margin-top:5px
}
.card_div_1{
    max-width: 540px;
    overflow-x: hidden;
}
.center_div_p2_span{
    margin-right: 10px;
}
.parent-of-cart{
    background-color: #009e7f;
    width: 70px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.clone_card{
    width: 70px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    background-color: #009e7f;
    border-radius: 15px;
    align-items: center;
}
.clones {
    color: white;
    font-weight: bold;
    border-style: none;
}
.a-classes{
    color: #0d1136;
    padding-right: 15px;
    padding-left: 60px;
     height: 50px;
     align-items: center;
     display: flex;
    font-size: 14px;
    font-weight: bold;
    /* color: #0d1136;
    background-color: white; */
}
.category_pack{
    display: flex;
    align-items: center;
    font-weight: 700;
    height: 50px;
    font-size: 15px;
    background-color: white;
}
.category_name{
    color:#0d1136;
}
.product_name{
    padding-left: 20px;
    display: flex;
    flex-flow: column;
    font-size: 15px;
}
.price-number{
    color: #009e7f;
    font-weight: bold;
}
.name_span{
    font-weight: 700;
    padding-bottom: 15px;
}
.unit_count_span{
    opacity: 0.7;
    padding-right: 5px;

}
.parent_of_all_cards{
    padding-bottom: 20px;
    
}
.cards_imgs{
    width:100%;
    height: 200px;
}
.modal-sm{
    max-width: 500px !important;
}
.mod_btns{
    width: 77%;
    background-color: #009e7f;
    color: white;
    height: 50px;
    border-radius: 6px;
    font-weight: bold;
}
.inputs{
    padding-bottom: 10px;
}
.inputs small{
    color: red;
}
.slick-prev{
    position: absolute;
    width: 40px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 75px;    
    background-color: #e2e2e2;
    left: 0px;
    z-index: 2;
}
.slick-prev:hover{
    background-color: #e2e2e2;
}


.slick-next{
    position: absolute;
    width: 40px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 75px;    
    background-color: #e2e2e2;
    right: 0px;
}
.slick-next:hover{
    background-color: #e2e2e2;
}
.slick-prev svg{
    color:#009e7f;
}
.slick-next svg{
    color: #009e7f;
}
.slick-prev::before{
    display: none;
}
.slick-next::before{
    display: none;
}

.minus-btn{
    height: 2px;
}


.price_button_div{
    
    display: flex;
    align-items: center;
}
.price-button{
    height: 30px;
}

.counting_after_local{
    width:60px;
    height: 30px;
    background-color: #009e7f;
    border-radius: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.plus_btn_after_local{
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
   background-color: transparent;
   color: white;
}
.minus_btn_after_local{
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
    color: white;
}
.counter_after_local{
    font-size: 18px;
    background-color: transparent;
    color: white;
    
}
.modal-main-img{
    width:400px;
    height: 300px;
}
.main-img-class{
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.thumb_img{
    height: 30px;
    width: 30px;
}
.thumbs_div{
    padding-right: 10px;
}
.parent_of_svg span{
    color: #009e7f;
    background-color: white;
}

.add_to_cart{
    cursor: pointer;
    width:60px;
    align-items: center;
    justify-content: center;
    display: flex;
}
